# Namespace

In [19]:
global_variable = 10
x = 10

def example_function():
    # Namespace local
    local_variable = 20
    x = 1
    print("Dentro de la función:", global_variable, local_variable)
    print(f"X Dentro de la función: {x}")

example_function()
print("Fuera de la función:", global_variable)
print(x)
example_function()

Dentro de la función: 10 20
X Dentro de la función: 1
Fuera de la función: 10
10
Dentro de la función: 10 20
X Dentro de la función: 1

In [23]:
global_variable = 10


def example_function():
    # Namespace local
    global global_variable
    
    local_variable = 20
    global_variable += 10 
    print("Dentro de la función:", global_variable, local_variable)

example_function()
print("Fuera de la función:", global_variable)

Dentro de la función: 20 20
Fuera de la función: 20

In [24]:
x = 1

def funcion1(val):
    x = val
    print(x)

funcion1(10)
print(x)

10
1

In [25]:
funcion1(2)
print(x)

2
1

In [26]:
funcion1(3)
print(x)

3
1

In [27]:
funcion1(x)
print(x)

1
1

# Tipos de Error en Pyhon

## SyntaxError

El error mas comun en Python, sucede cuando no estructuramos bien la declaración de la sentencia. 
Estos errores no son tan claros, indican donde posiblemente esta el error, si los copiamos y pegamos el error en un buscador, vamos a encontrar alguien que tuvo un error similar y lo arreglo.

In [28]:
print("Hola Mundo)

SyntaxError: unterminated string literal (detected at line 1) (3789200569.py, line 1)

In [29]:
print("Hola Mundo")

Hola Mundo

In [30]:
diccionario = {
    "llave" : "valor1"
    "llave2": "valor2"
}

SyntaxError: invalid syntax (3118547426.py, line 3)

In [31]:
diccionario = {
    "llave" : "valor1",
    "llave2": "valor2"
}

## IndexError
Cuando tratamos de acceder a un indice que no es invalido.

In [32]:
lista = [1,2,3,4,5]
print(len(lista))
lista[5]

5

IndexError: list index out of range

In [37]:
lista[4]

5

In [39]:
"asdfdf"[1]

's'

## ModuleNotFoundError
Cuanto estamos tratando de utilizar un paquete que no existe

In [40]:
import sklean

ModuleNotFoundError: No module named 'sklean'

In [41]:
import tensorflow

ModuleNotFoundError: No module named 'tensorflow'

## KeyError

Cuando queremos acceder a una llave que no existe

In [42]:
dic = {
    "curso":"bioinformatica",
    "horario": "7am-10am"
}

dic["catedratico"]

KeyError: 'catedratico'

In [44]:
dic.get("catedratico", "Erick")

'Erick'

## TypeError
Cuando aplicamos una operacion al tipo incorrecto de objeto

In [14]:
'a' + 3

TypeError: can only concatenate str (not "int") to str

In [45]:
'5' + 3

TypeError: can only concatenate str (not "int") to str

In [48]:
float('5') + 3

8.0

## ValueError
Cuando el agumento que enviamos a la funcion es de un tipo incorrecto

In [49]:
int("1234")

1234

In [50]:
int("ab")

ValueError: invalid literal for int() with base 10: 'ab'

In [51]:
float("asdf")

ValueError: could not convert string to float: 'asdf'

## NameError
Cuando no se puede encontrar el objeto que se quiere utilizar

In [53]:
variable1 = 10

In [54]:
variable1 + 5

15

In [55]:
plt.show()

NameError: name 'plt' is not defined

## ZeroDivisionError
Ocurre cuando se itenta dividir por cero.

In [56]:
5/0

ZeroDivisionError: division by zero

## Control de Excepciones

```Python
try:
     bloque código 1
except excepción:
     bloque código 2
else:
     bloque código 3
```

In [57]:
def division(dividendo, divisor):
    return dividendo/divisor

In [58]:
division(2,5)

0.4

In [59]:
division(2,0)

ZeroDivisionError: division by zero

In [60]:
division(2,"3")

TypeError: unsupported operand type(s) for /: 'int' and 'str'

In [61]:
def division(dividendo, divisor):
    try:
        return dividendo/divisor
    except Exception as e:
        print("error!!!!")
        print(e)
        return None

In [62]:
division(2,3)

0.6666666666666666

In [63]:
division(2,'1')

error!!!!
unsupported operand type(s) for /: 'int' and 'str'

In [64]:
division(2,0)

error!!!!
division by zero

In [66]:
import numpy as np

In [85]:
edades_dias = [5455, 465, 544, 5464, 542]

for edad in edades_dias:
    print(f"== Edad en dias {edad} ==")
    try:
        print(edad/ 0)
    except:
        print("Error al dividir")

== Edad en dias 5455 ==
Error al dividir
== Edad en dias 465 ==
Error al dividir
== Edad en dias 544 ==
Error al dividir
== Edad en dias 5464 ==
Error al dividir
== Edad en dias 542 ==
Error al dividir

In [84]:
print("a")

a

In [90]:

def division(dividendo, divisor):
    try:
        return dividendo/divisor
    except ZeroDivisionError:
        print("Error, no podemos dividir por 0")
        return 1
    return None

In [91]:
division(2,3)

0.6666666666666666

In [92]:
division(2,'1')

TypeError: unsupported operand type(s) for /: 'int' and 'str'

In [89]:
division(2,0)

Error, no podemos dividir por 0

1

In [93]:
lista = [1,2,3,4]

try:
    print(lista[100])
except IndexError:
    print(lista[-1])

4

In [95]:
lista[100]

IndexError: list index out of range